<header>
			<a href="exercice.html"><button class="headerButton">Connexion</button></a>
			<a href=""><img src="image/app.png"></a>
			<a href="">Images</a>
			<a href="">Gmail</a>
		</header>
		
		<section class="hide">
			<div class="container">
			<div>
				<img class="relative" src="image/logo.png">
				<!-- <span class="absolute">France</span> -->
			</div>
				<form action="http://www.google.fr/search" method="get" name="form" >
					<input name="q" id="keyWord" type="text">
					<button class="button">
						Recherche Google
					</button>
					<button class="button">
						J'ai de la chance
					</button>
				</form>
			</div>
		</section>
		<div class="container">
			<button type="button" id="centralButton">
				AFFICHER LES ÉLÉMENTS CENTRAUX
			</button>
		</div>

			<footer>
				<p>
					<a href="#">Publicité</a>
				</p>
				<p>
					<a href="#">Entreprise</a>
				</p>
				<p>
					<a href="#">À propos</a>
				</p>
				


				<p class="float-right">
					<a href="#">Utiliser Google.com &nbsp;</a>
				</p> 
				<p class="float-right">
					<a href="#">Paramètres</a>
				</p>
				<p class="float-right">
					<a href="#">Conditions</a>
				</p>
				<p class="float-right">
					<a href="#">Confidentialité</a>
				</p>

				 
			</footer>